@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&family=Roboto:wght@100;300;400&display=swap');

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.app {
  background-color: #111;
}

body {
  font-family: 'Roboto', sans-serif;
  color: whitesmoke;
}
